
body {
    background-color: var(--bg);
    color: var(--text-standard);
    overflow: hidden;
}
.vjs-modal-dialog-content {
    z-index: 0;
}

div.button {
    position: absolute;
    left: 10px;
    top: 10px;
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;
    background-color: var(--button);
    color: var(--text-standard);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
/*Edição danilo*/
.video-flv {
    width: 800px;
    height: 470px;
}
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: arial;
}
li{
    width: 80%;
    left: 10%;
    margin-left: 15%;
}
ul {
    position: absolute; 
    list-style: none;
    width: 100%;
}
.scroll-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 90%;
    /* margin-top:10%; */
    overflow-y: auto;
    overflow-x: hidden;
    /* background-color: rgb(12, 12, 12); */
    /* background-color: #02163F; */
  }
::-webkit-scrollbar{
    display: block;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgb(19, 33, 71);
}
.imglogo {
    align-self: center;
}



a {
    align-items: center;
    text-decoration: none;
    display: flex;
    padding: 15px;
    color: #1a7768;
    font-family: 'Arial';
 /*COR ORIGINAL DO MENU:*/   /*color: #b60c3f;*/
    width: 100%;
    
}
a:focus{
    color: #0f6e5f;
    font-weight: bold;
}
    /* ul li:hover{
        color: #0d695b;
        padding: 1px;
        font-weight: bold;
        width: 100%;  
    } */

.video-js{
    height:100%;
    width:100%;
}
#wecomA{
    height: 5%;
}

.colunaesquerda {
    background-image: url(bg_lateral.png);
    background-size: cover;
    margin-left: 0%;
    float: left;
    position: absolute;
    left: 0px;
    width: 20%;
    height: 100%;
    top: 0px;
    font-size: 16px;
    text-align: left;
}
.container{
    background-image: url(fundoIPTV.png);
}

.logo{
    display: flex; 
    width: 35px; 
    height: 30px; 
    position: absolute; 
    left: 1%
}
.imglogo{
    width: 130px;
    height: 30px;
}








/*Edi��o danilo*/
