
body {
    background-color: var(--bg);
    color: var(--text-standard);
}
.vjs-modal-dialog-content {
    z-index: 0;
}

div.button {
    position: absolute;
    left: 10px;
    top: 10px;
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px;
    background-color: var(--button);
    color: var(--text-standard);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}
/*Edição danilo*/
.video-flv {
    width: 800px;
    height: 470px;
}
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: arial;
    /*background: url("logo.png");
	background-size:100%;*/
}

ul {
    position: absolute;
    list-style: none;
    width: 100%;
}

img {
    width: 40px;
}


.imglogo {
    align-self: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ nav {
    transform: translateX(350px);
}


nav {
    position: absolute;
    background-color: var(--nav-bg);
    width: 300px;
    height: 100%;
    left: -370px;
    transition: all .6s;
    z-index: 1;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

a {
    align-self: end;
    text-decoration: none;
    display: flex;
    padding: 20.4px 4px;
    color: #097563;
 /*COR ORIGINAL DO MENU:*/   /*color: #b60c3f;*/
    width: 100%;
    margin-left: 13%;
    
}
    ul li:hover{
        color: #0b9981;
        padding: 2px;
        font-weight: bold;
        width: 100%;

        
    }
.video-js{
    height:100%;
    width:100%;
}

label {
    padding: 15px;
    position: absolute;
    z-index: 10;
}

/* .container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.colunaesquerda {
    background-image: url(bg_lateral.png);
    background-size: cover;
    margin-left: 0%;
    float: left;
    position: absolute;
    left: 0px;
    width: 20%;
    height: 100%;
    top: 0px;
    font-size: 15px;
    text-align: left;
}
.container{
    background-image: url(fundoIPTV.png);
}
#listchanenels{
    margin-left: 5%;
    display: block;
  
}
.logo{
    display: flex; width: 25px; height: 25px; position: absolute; margin-left: 4.4%;margin-top: -14.3%;
}
.imglogo{
    width: 120px;
    height: 50px;
}








/*Edi��o danilo*/
