:root {
  --bg1: #e3e3e3;
  --bg2: #f5f5f5;
  --c2: #404040;
  --accent: #a99c4f;
}

body {
    container-type: inline-size;
    container-name: table-name;
}

table.innovaphone-ui1-table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: fit-content;
}

tr.innovaphone-ui1-table {
    background-color: var(--bg1);
    border: 1px solid var(--c2);
}

th.innovaphone-ui1-table {
    background-color: var(--bg2);
}

td.innovaphone-ui1-table, th.innovaphone-ui1-table {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    color: var(--c1);
}

th.innovaphone-ui1-table {
    color: var(--accent);
    font-size: 16px;
    font-weight: normal;
}

@container table-name (max-width: 1000px) {

    tr.innovaphone-ui1-table {
        margin-bottom: .625em;
    }

    td.innovaphone-ui1-table {
    }

    td.innovaphone-ui1-table::before {
        float: left;
    }

    td.innovaphone-ui1-table:last-child {
        border-bottom: 0;
    }
}
