/novaalert/.vs/novaalert/v16/.suo 
/novaalert/.vs/novaalert/v16/Browse.VC.db
/novaalert/novaalert/build.txt
/novaalert/novaalert/novaalert/build.txt
/novaalert/novaalert/obj/x64/Debug/novaalert.builduptodate
/novaalert/novaalert/obj/x64/Debug/novaalert.log
/novaalert/novaalert/x86_64-debug/obj/novaalert/build.txt
/novaalert/novaalert/obj/*
/novaalert/novaalert/arm/*
/novaalert/novaalert/arm64/*
/novaalert/novaalert/arm-debug/*
/novaalert/novaalert/arm64-debug/*
/novaalert/novaalert/x86_64/*
/novaalert/novaalert/x86_64-debug/*


