#preloader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-position: center;
    background: #0075AC;
    background: url(./images/logoTransp.png) center top 150px no-repeat, -moz-linear-gradient(top, #0075AC 0%, #02163F 100%);
    background: url(./images/logoTransp.png) center top 150px no-repeat, -webkit-linear-gradient(top, #0075AC 0%,#02163F 100%);
    background: url(./images/logoTransp.png) center top 150px no-repeat, linear-gradient(to bottom, #0075AC 0%,#02163F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0075AC', endColorstr='#02163F',GradientType=0 );
    background-size: 350px auto, contain;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

#body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div:after, ol:after, form:after, dl:after {
    /* content: ".";*/
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loading > span:nth-child(1) {
    animation-duration: 0.75s;
    animation-delay: 0;
    background-color: #E53229;
}

.loading > span:nth-child(2) {
    animation-duration: 0.75s;
    animation-delay: 0.12s;
    background-color: #38A934;
}

.loading > span:nth-child(3) {
    animation-duration: 0.75s;
    animation-delay: 0.24s;
    background-color: #009EE2;
}

.loading > span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 110px 15px 0 15px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.circle {
    border-radius: 50%;
    -khtml-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: relative;
}

#preloader .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loading > span {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 110px 15px 0 15px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: animarBola;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

    .loading > span:nth-child(1) {
        animation-duration: 0.75s;
        animation-delay: 0;
        background-color: #E53229;
    }

    .loading > span:nth-child(2) {
        animation-duration: 0.75s;
        animation-delay: 0.12s;
        background-color: #38A934;
    }

    .loading > span:nth-child(3) {
        animation-duration: 0.75s;
        animation-delay: 0.24s;
        background-color: #009EE2;
    }

@keyframes animarBola {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    16% {
        -webkit-transform: scale(0.1);
        transform: scale(0.1);
        opacity: 0.7;
    }

    33% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}
